.photo {
    margin-right: 25px;
    position: relative;

    &__img {
        display: block;
        width: 100%;
        max-width: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
    }
}

.favourite {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -15px;
    right: -15px;
    object-fit: cover;
    object-position: center center;
    filter: drop-shadow(0px 0px 2px var(--color-black));
}