.nav {
    @media screen and (max-width: 800px) {
        padding-right: 20px;
    }

    &__container {
        display: flex;
    }

    .menu {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 90px;
            right: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: var(--color-grey);
            box-sizing: border-box;
            z-index: 5;
        }

        &__list {
            list-style: none;
            margin: 0 25px;

            @media screen and (max-width: 1024px) {
                margin: 0 10px;
            }

            @media screen and (max-width: 800px) {
                margin: 20px auto;
            }

            &-link {
                display: block;
                text-align: center;
                min-width: 135px;
                color: var(--default-color-white);
                border: 2px solid transparent;
                border-radius: var(--btn-radius);
                text-transform: uppercase;
                text-decoration: none;
                text-shadow: var(--text-shadow);
                padding: 7px 10px;
                transition: var(--transition);

                @media screen and (max-width: 1024px) {
                    font-size: var(--font-size-small);
                }

                &:hover {
                    border: 2px solid var(--color-blue);
                    color: var(--color-blue);
                }
            }

            .active {
                border: 2px solid var(--theme-default-header);
                color: var(--theme-default-header);
            }
        }

    }
}

.nav__vision {

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.menu__btn {
    display: none;
    background-color: transparent;
    border: none;
    font-family: var(--primary-font);
    font-size: var(--default-font-title);
    text-transform: uppercase;
    color: var(--theme-default-header);
    text-shadow: var(--text-shadow);
    position: fixed;
    top: 28px;
    right: 25px;

    @media screen and (max-width: 800px) {
        display: block;
    }
}
