.link {
    display: inline-flex;
    align-items: center;
    margin-top: 150px;
    font-weight: var(--secondary-font-weight);
    color: var(--color-purple);
    text-decoration: none;
    transition: var(--transition);

    &:hover {
        color: var(--color-blue);
        text-shadow: var(--text-shadow);
    }

    &__img {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        object-fit: cover;
        object-position: center center;
    }
}